---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id={SALESFORCE_OAUTH_CONSUMER_KEY}&client_secret={SALESFORCE_OAUTH_CONSUMER_SECRET}&username=%7BSALESFORCE_USERNAME%7D&password=%7BSALESFORCE_PASSWORD%7D{SALESFORCE_SECURITY_TOKEN}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"{ACCESS_TOKEN}","instance_url":"https://instance.salesforce.com","id":"{ID_URL}","token_type":"Bearer","issued_at":"1493757959416","signature":"{SIGNATURE}"}'
  recorded_at: Tue, 02 May 2017 20:45:59 GMT
- request:
    method: post
    uri: https://instance.salesforce.com/services/async/39.0/job
    body:
      encoding: UTF-8
      string: '{"operation":"query","object":"Account","contentType":"JSON"}'
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/services/async/39.0/job/7503600000BfwCuAAJ"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"apexProcessingTime":0,"apiActiveProcessingTime":0,"apiVersion":39.0,"assignmentRuleId":null,"concurrencyMode":"Parallel","contentType":"JSON","createdById":"00536000001qtbXAAQ","createdDate":"2017-05-02T20:45:59.000+0000","externalIdFieldName":null,"fastPathEnabled":false,"id":"7503600000BfwCuAAJ","numberBatchesCompleted":0,"numberBatchesFailed":0,"numberBatchesInProgress":0,"numberBatchesQueued":0,"numberBatchesTotal":0,"numberRecordsFailed":0,"numberRecordsProcessed":0,"numberRetries":0,"object":"Account","operation":"query","state":"Open","systemModstamp":"2017-05-02T20:45:59.000+0000","totalProcessingTime":0}'
  recorded_at: Tue, 02 May 2017 20:46:00 GMT
[...]
- request:
    method: post
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCuAAJ/batch
    body:
      encoding: UTF-8
      string: select Id, Name from Account where Id in ('00136000014tyLaAAI', '00136000014tyLpAAI')
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/services/async/39.0/job/7503600000BfwCuAAJ/batch/7513600000CF5qFAAT"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"apexProcessingTime":0,"apiActiveProcessingTime":0,"createdDate":"2017-05-02T20:46:01.000+0000","id":"7513600000CF5qFAAT","jobId":"7503600000BfwCuAAJ","numberRecordsFailed":0,"numberRecordsProcessed":0,"state":"Queued","stateMessage":null,"systemModstamp":"2017-05-02T20:46:01.000+0000","totalProcessingTime":0}'
  recorded_at: Tue, 02 May 2017 20:46:01 GMT
[...]
- request:
    method: post
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCuAAJ
    body:
      encoding: UTF-8
      string: '{"state":"Closed"}'
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"apexProcessingTime":0,"apiActiveProcessingTime":0,"apiVersion":39.0,"assignmentRuleId":null,"concurrencyMode":"Parallel","contentType":"JSON","createdById":"00536000001qtbXAAQ","createdDate":"2017-05-02T20:45:59.000+0000","externalIdFieldName":null,"fastPathEnabled":false,"id":"7503600000BfwCuAAJ","numberBatchesCompleted":0,"numberBatchesFailed":0,"numberBatchesInProgress":0,"numberBatchesQueued":1,"numberBatchesTotal":1,"numberRecordsFailed":0,"numberRecordsProcessed":0,"numberRetries":0,"object":"Account","operation":"query","state":"Closed","systemModstamp":"2017-05-02T20:45:59.000+0000","totalProcessingTime":0}'
  recorded_at: Tue, 02 May 2017 20:46:03 GMT
[...]
- request:
    method: get
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCuAAJ/batch/7513600000CF5qFAAT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"apexProcessingTime":0,"apiActiveProcessingTime":0,"createdDate":"2017-05-02T20:46:01.000+0000","id":"7513600000CF5qFAAT","jobId":"7503600000BfwCuAAJ","numberRecordsFailed":0,"numberRecordsProcessed":2,"state":"Completed","stateMessage":null,"systemModstamp":"2017-05-02T20:46:03.000+0000","totalProcessingTime":0}'
  recorded_at: Tue, 02 May 2017 20:46:05 GMT
[...]
- request:
    method: get
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCuAAJ/batch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"batchInfo":[{"apexProcessingTime":0,"apiActiveProcessingTime":0,"createdDate":"2017-05-02T20:46:01.000+0000","id":"7513600000CF5qFAAT","jobId":"7503600000BfwCuAAJ","numberRecordsFailed":0,"numberRecordsProcessed":2,"state":"Completed","stateMessage":null,"systemModstamp":"2017-05-02T20:46:03.000+0000","totalProcessingTime":0}]}'
  recorded_at: Tue, 02 May 2017 20:46:13 GMT
[...]
- request:
    method: get
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCuAAJ/batch/7513600000CF5qFAAT/result
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '["75236000005bB4w"]'
  recorded_at: Tue, 02 May 2017 20:46:19 GMT
[...]
- request:
    method: get
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCuAAJ/batch/7513600000CF5qFAAT/result/75236000005bB4w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "attributes" : {
            "type" : "Account",
            "url" : "/services/data/v39.0/sobjects/Account/00136000014tyLaAAI"
          },
          "Id" : "00136000014tyLaAAI",
          "Name" : "Test Upserted Account"
        }, {
          "attributes" : {
            "type" : "Account",
            "url" : "/services/data/v39.0/sobjects/Account/00136000014tyLpAAI"
          },
          "Id" : "00136000014tyLpAAI",
          "Name" : "Test Upserted Account"
        } ]
  recorded_at: Tue, 02 May 2017 20:46:20 GMT
recorded_with: VCR 3.0.3
