---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id={SALESFORCE_OAUTH_CONSUMER_KEY}&client_secret={SALESFORCE_OAUTH_CONSUMER_SECRET}&username=%7BSALESFORCE_USERNAME%7D&password=%7BSALESFORCE_PASSWORD%7D{SALESFORCE_SECURITY_TOKEN}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"{ACCESS_TOKEN}","instance_url":"https://instance.salesforce.com","id":"{ID_URL}","token_type":"Bearer","issued_at":"1493757938084","signature":"{SIGNATURE}"}'
  recorded_at: Tue, 02 May 2017 20:45:38 GMT
- request:
    method: post
    uri: https://instance.salesforce.com/services/async/39.0/job
    body:
      encoding: UTF-8
      string: '{"operation":"upsert","object":"Account","contentType":"JSON","externalIdFieldName":"Id"}'
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/services/async/39.0/job/7503600000BfwCBAAZ"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"apexProcessingTime":0,"apiActiveProcessingTime":0,"apiVersion":39.0,"assignmentRuleId":null,"concurrencyMode":"Parallel","contentType":"JSON","createdById":"00536000001qtbXAAQ","createdDate":"2017-05-02T20:45:39.000+0000","externalIdFieldName":"Id","fastPathEnabled":false,"id":"7503600000BfwCBAAZ","numberBatchesCompleted":0,"numberBatchesFailed":0,"numberBatchesInProgress":0,"numberBatchesQueued":0,"numberBatchesTotal":0,"numberRecordsFailed":0,"numberRecordsProcessed":0,"numberRetries":0,"object":"Account","operation":"upsert","state":"Open","systemModstamp":"2017-05-02T20:45:39.000+0000","totalProcessingTime":0}'
  recorded_at: Tue, 02 May 2017 20:45:39 GMT
[...]
- request:
    method: post
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCBAAZ/batch
    body:
      encoding: UTF-8
      string: '[{"Id":"00136000014tyLaAAI","Name":"Test Upserted Account"},{"Name":"Test
        Upserted Account"}]'
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/services/async/39.0/job/7503600000BfwCBAAZ/batch/7513600000CF5nCAAT"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"apexProcessingTime":0,"apiActiveProcessingTime":0,"createdDate":"2017-05-02T20:45:39.000+0000","id":"7513600000CF5nCAAT","jobId":"7503600000BfwCBAAZ","numberRecordsFailed":0,"numberRecordsProcessed":0,"state":"Queued","stateMessage":null,"systemModstamp":"2017-05-02T20:45:39.000+0000","totalProcessingTime":0}'
  recorded_at: Tue, 02 May 2017 20:45:40 GMT
[...]
- request:
    method: post
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCBAAZ
    body:
      encoding: UTF-8
      string: '{"state":"Closed"}'
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"apexProcessingTime":0,"apiActiveProcessingTime":0,"apiVersion":39.0,"assignmentRuleId":null,"concurrencyMode":"Parallel","contentType":"JSON","createdById":"00536000001qtbXAAQ","createdDate":"2017-05-02T20:45:39.000+0000","externalIdFieldName":"Id","fastPathEnabled":false,"id":"7503600000BfwCBAAZ","numberBatchesCompleted":0,"numberBatchesFailed":0,"numberBatchesInProgress":0,"numberBatchesQueued":1,"numberBatchesTotal":1,"numberRecordsFailed":0,"numberRecordsProcessed":0,"numberRetries":0,"object":"Account","operation":"upsert","state":"Closed","systemModstamp":"2017-05-02T20:45:39.000+0000","totalProcessingTime":0}'
  recorded_at: Tue, 02 May 2017 20:45:41 GMT
[...]
- request:
    method: get
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCBAAZ/batch/7513600000CF5nCAAT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"apexProcessingTime":0,"apiActiveProcessingTime":218,"createdDate":"2017-05-02T20:45:39.000+0000","id":"7513600000CF5nCAAT","jobId":"7503600000BfwCBAAZ","numberRecordsFailed":0,"numberRecordsProcessed":2,"state":"Completed","stateMessage":null,"systemModstamp":"2017-05-02T20:45:41.000+0000","totalProcessingTime":320}'
  recorded_at: Tue, 02 May 2017 20:45:44 GMT
[...]
- request:
    method: get
    uri: https://instance.salesforce.com/services/async/39.0/job/7503600000BfwCBAAZ/batch/7513600000CF5nCAAT/result
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Sfdc-Session:
      - "{SESSION_ID}"
      Authorization:
      - "{AUTHORIZATION}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "success" : true,
          "created" : false,
          "id" : "00136000014tyLaAAI",
          "errors" : [ ]
        }, {
          "success" : true,
          "created" : true,
          "id" : "00136000014tyLpAAI",
          "errors" : [ ]
        } ]
  recorded_at: Tue, 02 May 2017 20:45:47 GMT
recorded_with: VCR 3.0.3
